html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  // display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.7);
  padding: 8px;

  // background: linear-gradient(to bottom right, #00d034, #c0c0c0);
  background: linear-gradient(.25turn, #e9dbfc, #f06afc);
  font-size: 1.5rem;
  font-family: sans-serif;
}

main {
  width: 30em;

}

.container {
  max-width: 960px;
}

.entry,
.readout {
  margin: 0 auto;
  padding: 8px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}

.readout {
  margin-top: 16px;
}


.footnote {
  font-size: 0.9rem;
  margin-top: 16px;
}
